##### Edward Kang Prelim Work on Weather Events Dataset

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('<insert file path here>')
# Dataset (too big for GitHub to upload): https://www.kaggle.com/datasets/sobhanmoosavi/us-weather-events

df.shape

(8627181, 14)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8627181 entries, 0 to 8627180
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   EventId            object
 1   Type               object
 2   Severity           object
 3   StartTime(UTC)     object
 4   EndTime(UTC)       object
 5   Precipitation(in)  float64
 6   TimeZone           object
 7   AirportCode        object
 8   LocationLat        float64
 9   LocationLng        float64
 10  City               object
 11  County             object
 12  State              object
 13  ZipCode            float64
dtypes: float64(4), object(10)
memory usage: 921.5+ MB

#### 8627181 Entries in dataset

In [3]:
# Display the first 5 rows of the dataset
df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,2016-01-06 23:14:00,2016-01-07 00:34:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,2016-01-07 04:14:00,2016-01-07 04:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,2016-01-07 05:54:00,2016-01-07 15:34:00,0.03,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,2016-01-08 05:34:00,2016-01-08 05:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,2016-01-08 13:54:00,2016-01-08 15:54:00,0.00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [4]:
# Select only Indiana data
df_IN = df[df['State'] == 'IN']
print(df_IN.shape)
df_IN.head()

(155316, 14)

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),Precipitation(in),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
271017,W-286935,Snow,Light,2016-01-04 04:53:00,2016-01-04 05:11:00,0.0,US/Eastern,KMIE,40.2345,-85.3936,Muncie,Delaware,IN,47303.0
271018,W-286936,Snow,Light,2016-01-04 05:53:00,2016-01-04 06:53:00,0.0,US/Eastern,KMIE,40.2345,-85.3936,Muncie,Delaware,IN,47303.0
271019,W-286937,Snow,Light,2016-01-04 08:53:00,2016-01-04 09:53:00,0.0,US/Eastern,KMIE,40.2345,-85.3936,Muncie,Delaware,IN,47303.0
271020,W-286938,Snow,Light,2016-01-04 15:53:00,2016-01-04 16:53:00,0.0,US/Eastern,KMIE,40.2345,-85.3936,Muncie,Delaware,IN,47303.0
271021,W-286939,Snow,Light,2016-01-04 18:32:00,2016-01-04 18:53:00,0.0,US/Eastern,KMIE,40.2345,-85.3936,Muncie,Delaware,IN,47303.0

##### 155316 data points just from Indiana

In [5]:
df = df_IN

In [6]:
df.columns

Index(['EventId', 'Type', 'Severity', 'StartTime(UTC)', 'EndTime(UTC)',
       'Precipitation(in)', 'TimeZone', 'AirportCode', 'LocationLat',
       'LocationLng', 'City', 'County', 'State', 'ZipCode'],
      dtype='object')

#### Clean dataset

In [7]:
df = df.drop(['EventId', 'EndTime(UTC)', 'TimeZone', 'AirportCode', 'City', 'County', 'State', 'ZipCode'],axis=1)
df.head()

,Type,Severity,StartTime(UTC),Precipitation(in),LocationLat,LocationLng
271017,Snow,Light,2016-01-04 04:53:00,0.0,40.2345,-85.3936
271018,Snow,Light,2016-01-04 05:53:00,0.0,40.2345,-85.3936
271019,Snow,Light,2016-01-04 08:53:00,0.0,40.2345,-85.3936
271020,Snow,Light,2016-01-04 15:53:00,0.0,40.2345,-85.3936
271021,Snow,Light,2016-01-04 18:32:00,0.0,40.2345,-85.3936

In [8]:
df['StartTime(UTC)'] = pd.to_datetime(df['StartTime(UTC)'])

# Parse time into year, day of the year, and time of day (in minutes)
df['year'] = df['StartTime(UTC)'].dt.year
df['day'] = df['StartTime(UTC)'].dt.dayofyear
df['time'] = (
    df['StartTime(UTC)'].dt.hour * 60 +
    df['StartTime(UTC)'].dt.minute +
    df['StartTime(UTC)'].dt.second / 60
)

df.head()

,Type,Severity,StartTime(UTC),Precipitation(in),LocationLat,LocationLng,year,day,time
271017,Snow,Light,2016-01-04 04:53:00,0.0,40.2345,-85.3936,2016,4,293.0
271018,Snow,Light,2016-01-04 05:53:00,0.0,40.2345,-85.3936,2016,4,353.0
271019,Snow,Light,2016-01-04 08:53:00,0.0,40.2345,-85.3936,2016,4,533.0
271020,Snow,Light,2016-01-04 15:53:00,0.0,40.2345,-85.3936,2016,4,953.0
271021,Snow,Light,2016-01-04 18:32:00,0.0,40.2345,-85.3936,2016,4,1112.0

In [9]:
df = df.drop(['StartTime(UTC)'], axis=1)

In [10]:
# Check if target variable is balanced and what the possible values are.
print(df['Type'].value_counts())

Type
Rain             91125
Fog              32073
Snow             23142
Cold              6075
Precipitation     2367
Storm              499
Hail                35
Name: count, dtype: int64

In [11]:
# Combine precipitation and rain into a single weather type
df['Type'] = df['Type'].replace({'Precipitation': 'Rain'})
print(df['Type'].value_counts())

Type
Rain     93492
Fog      32073
Snow     23142
Cold      6075
Storm      499
Hail        35
Name: count, dtype: int64

In [12]:
df.head()

,Type,Severity,Precipitation(in),LocationLat,LocationLng,year,day,time
271017,Snow,Light,0.0,40.2345,-85.3936,2016,4,293.0
271018,Snow,Light,0.0,40.2345,-85.3936,2016,4,353.0
271019,Snow,Light,0.0,40.2345,-85.3936,2016,4,533.0
271020,Snow,Light,0.0,40.2345,-85.3936,2016,4,953.0
271021,Snow,Light,0.0,40.2345,-85.3936,2016,4,1112.0

#### Verdict

Although the dataset has a staggering number of data points (8.6 million), there is not enough features/columns to create meaningful predictions. After cleaning and parsing the data, there are only severity (which is a meaningless feature in terms of predicting weather), precipitation (also meaningless in practicality), location, year, day, and time. This dataset is not an appropriate dataset for our project.